@if(product(); as p) {
@if(p.images && p.images.length > 0){
<a [routerLink]="['/product', product().id]">
    <app-img-component [img]="p.images[0]" [alt]="p.title" />
</a>

}
<h2>{{ p.price | currency: 'MXN' }}</h2>

@if(p.taxes !== undefined) {
<p>Taxes (19%) : {{ p.taxes | currency: 'MXN' }}</p>
} @else {
<p>Calculete taxes...</p>
}
<!-- | reversePipe  -->
<p>{{ p.title }}</p>

<!-- <p appHighlightDirective>{{ item.description }}</p> -->
<!-- <button (click)="onShowDetail()">See Details</button> -->
 <a routerLink="." [queryParams]="{ product: product().id }">See Details</a>
<button (click)="onAddToCart()">Add Cart</button>
}