<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail(123456)">Details not found</button>

<div class="products--grid">
  @for (product of products(); track product.id) {
  <div>
    <p>{{ product.title }}</p>
    <app-product-component [product]="product" (addedProduct)="onAddToShoppingCart($event)"
      (showProduct)="onShowDetail($event)" />
  </div>
  }
  <button>Load more</button>
</div>

<div class="product-detail" [class.active]=" showProductDetail">
  {{ statusDetail }}
  @if(productChosen) {
  <div>
    <button class="close-btn" (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper-container 
    [slidesPerView]="1"
    navigation="true" 
    pagination="true" 
    scrollbar="true"
    >
      @for (img of productChosen.images; track img) {
      <swiper-slide>
        <img [src]="img" [alt]="productChosen.title">
      </swiper-slide>
      }
    </swiper-container>

    <div class="detail-content">
      <p>{{ productChosen.description }}</p>
      <button (click)="updateProduct(productChosen)">Edit</button>
      <button (click)="deleteProduct()">Delete</button>
    </div>
    
  </div>
  }
</div>