<p>The amount {{ myShoppingCart.length }}</p>
<p>Total: ${{ total }}</p>
<h1>All Products</h1>

<div class="products--grid">
  @for (product of products(); track product.id) {
    <div>
        <p>{{ product.title }}</p>
      <app-product-component 
      [product]="product" 
      (addedProduct)="onAddToShoppingCart($event)" 
      />
    </div>
  }
</div>

<!-- <div class="products--grid">
  <div *ngFor="let product of products">
    <p>{{ product.title }}</p>
    <app-product-component
      [product]="product"
      (addedProduct)="onAddToShoppingCart($event)"
    />
  </div>
</div> -->

<!-- 
<div *ngIf="products.length > 0; else loading" class="products__grid">
    @for(product of products; track product.id) {
    <app-product-component
    [product]="product" 
    (addedProduct)="onAddToShoppingCart($event)"
    />
    }
</div>
<ng-template #loading>
    <p>Loading Products...</p>
</ng-template> -->
